**/*.js
# dependencies
/node_modules
.next
.run
# bundle stats
*.mdx
*.md

# configs -- will keep multi-line json arrays
.eslintrc.json
package.json
pnpm-lock.yaml
.pnpm-store
/examples/react-app/build
/libs/jitsu-react/dist
/webapps/console/prisma/schema
/libs/jitsu-js/__tests__/playwright/artifacts
/libs/jitsu-js/compiled/
libs/jitsu-js/dist/
/cli/jitsu-cli/compiled/
/cli/jitsu-cli/dist/
/libs/functions/dist/